<h1>トイレナビ</h1>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @toilet_place.latitude %>, lng:  <%= @toilet_place.longitude %>},
    zoom: 12,
  });
  const image = "<%= asset_path('toilet.png') %>";
  marker = new google.maps.Marker({
    position:  {lat: <%= @toilet_place.latitude %>, lng: <%= @toilet_place.longitude %>},
    map: map,
    icon: image,
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
