<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 scrollable-sidebar">
      <%= render 'shared/title' %>
      <button class='js-startBtn'>🎤</button>
      <%= search_form_for @q, url: toilet_places_path, class: 'mt-3', html: { name: 'searchForm' } do |f| %>
        <%= f.label :address_cont, '住所', class: 'form-label' %>
        <%= f.search_field :address_cont, class: 'form-control' %>
        <%= f.submit '検索', class: 'btn btn-primary btn-sm my-2' %>
      <% end %>

      <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item active">
          <a class="nav-link" id="tab1-tab" data-bs-toggle="tab" href="#tab1">経路案内</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2">トイレ一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3">各リンク</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div id="routeDetails"></div>
        </div>

        <div class="tab-pane" id="tab2">
          <% @results.each do |toilet_place| %>
            <div class="border-bottom d-flex align-items-center">
              <div class='py-2'>
                <%= link_to toilet_place.name, toilet_place_path(toilet_place), data: { 'turbo': 'false' }%>
                <p><%= toilet_place.address %></p>
              </div>
              <% if user_signed_in? && current_user.toilet_places.include?(toilet_place) %>
              <div class="mt-2 ms-auto flex-shrink-0">
                <%= link_to '編集', edit_toilet_place_path(toilet_place), class: "btn btn-secondary btn-sm" %>
                <%= link_to '削除', toilet_place_path(toilet_place), data: { turbo_method: :delete, turbo_confirm: '本当に削除して良いですか？' }, class: "btn btn-danger btn-sm" %>
              </div>
              <% end %>
            </div>
          <% end %>
          <div class='mt-3'>
            <%= paginate @toilet_places, window: 2 %>
          </div>
        </div>

        <div class="tab-pane" id="tab3">
          <% if user_signed_in? %>
            <ul class='p-4 ms-4'>
              <li class='mb-3'><%= link_to 'トイレの場所登録', new_toilet_place_path %></li>
              <li class='mb-3'><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>
          <% else %>
            <ul class='p-4 ms-4'>
              <li class='mb-3'><%= link_to 'アカウント登録', new_user_registration_path, class: "mb-2"%></li>
              <li class='mb-3'><%= link_to 'ログイン', new_user_session_path, class: "mb-2"%></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
      <%= render 'shared/map', toilet_places: @toilet_places %>
  </div>
</div>